RewriteEngine On
Options -Indexes

# Force https

RewriteCond %{HTTPS} !=on
RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Rewrite --- about => index.php?page=about

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?page=$1 [L,QSA]

# Don't allow access to the htaccess file

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>
